{% load static %}
<html>
    <head>
        <title>Not only Larps</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <center><h1>Not only Larps</h1></center>

            <p style="text-align:left;">
              <a href="{% url 'larps:player_profile' %}">
              Player profile
              </a> | 
              <a href="{% url 'larps:bookings_list' %}">
              Bookings
              </a> |
              <a href="{% url 'larps:characters_list' %}">
              Characters
              </a> |
            </p>

            <p style="text-align:right;">
            {% if user.first_name %}
            {{ user.first_name }} {{ user.last_name }}
             -  <a href="/larps/logout">Logout
            {% elif user.username %}
            {{ user.username }}
             -  <a href="/larps/logout">Logout
            {% else %}
            <a href="/accounts/login">Login
            {% endif %}
            </a></p>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
