  Character: {{ character.name }}<br>
  Group: {{ character.group }}<br>
  Planet: {{ character.race }}<br>
  {% if character.rank %}
    Rank: {{ character.rank }}<br>
  {% endif %}
  <a href="{{ character.concept }}" target="_blank">Concept</a><br>
  <a href="{{ character.sheet }}" target="_blank">Character sheet</a><br>
  {% if character.weapon %}
    Weapon: {{ character.weapon }}<br>
  {% endif %}

<hr>
<p><b>Please keep the plot's secrecy.</b><br>
  The larp plays with secret information, discoveries, and situations that need to be discovered during runtime. Some players are ok with total transparency and others aren’t. Please don't tell your co-players you're the murderous butler that left a trail of victims unless they are ok with transparency.
  But at the same time, you need to speak with your co-players about your relationships.
</p>
<p>Calibration with your co-players<br>
  We recommend you contact your character's primary relationship players to calibrate the kind of play you want to experience, especially with the love and /or attraction stories. Please remember there is no unique way to play love and attraction, and some players may not want to play on one or more of these themes at all; Mission Together's world is as diverse as our Earth.
  When calibrating, please remember that there are players with 30 different larp cultures in this larp. Some players would want to speak about every detail of the relationships. Others will prefer to talk about more general things. We recommend you chat about your boundaries -what you want to experience and what you don't want to happen- and how to calibrate if something doesn't work in your game during the larp. Please thank your co-players when they set boundaries, as boundaries are among our most essential tools to play safe larps.
<br>
  You will have some time during the workshops, but sometimes chatting with co-players before the workshops can ease some stress.
</p>

<p>"Tweaking” relationships.<br>
  It is ok to calibrate with your co-players and tweak your relationship. We only ask you to keep the relationship’s positive or negative nature and calibrate with all players involved in the relationship. Can a lover become a childhood friend? Yes, if all players agree to make the change. If you need help with this, you can ask at hello@notonlylarp.com.
</p>

  “Tweaking” plots and information.
  As there are secrets that will affect the game, we ask you not to change the events or the information you have in your character’s sheet past.
  An example: In your character's past, you got to the house with your lover, and there you both killed the butler. You can decide with the player who plays your lover that you are friends and not lovers, but you can’t change that you both killed the butler.
  If you have doubts, you can ask at hello@notonlylarp.com.

  The casting changes.
  In our experience, big larps have lots of casting changes. Some of them even during the last week before the larp. Please, calibrate with the new players.
  If with the changes you find a player you don't want to play with as one of your relationships or someone who you feel that shouldn't play the larp, please contact our safety team at hello@notonlylarp.com (only safety team members read that email).

  The character sheet is not working for me.
  It sometimes happens. We are happy to help, and there are many things we can do as it is part of the casting and character creation process.
  We can change parts of the character sheet. But, if the character is not offering you the experience you want to live at all, sometimes it would be easier to give you another character. That is possible, and we will help you if we get to that point.
  Please contact us at hello@notonlylarp.com so we can help you.
