{% extends 'larps/base.html' %}

{% block content %}
<center>
  {% for larp in food_all_larps %}
    <h2>{{ larp.larp }} menus </h2>

    {{ larp.food.food_count }}

    <hr>

    <h2>All diet requirements</h2>
    {% for run in larp.food.players_diets %}
        <h3>{{ larp.larp }} run {{ run.0.run }} </h3>
        <table border=1 style="width:100%">
          <th align="center">character</th>
          <th align="center">player</th>
          <th align="center">diet</th>

              {% for player_diet in run %}
              <tr>
                <td align="center"> {{ player_diet.character }}</td>
                <td align="center"> {{ player_diet.player }}</td>
                <td align="center"> {{ player_diet.diet }}</td>
                </tr>
              {% endfor %}

          </table> <br>
      {% endfor %}

  {% endfor %}

</center>
{% endblock %}
