{% extends 'larps/base.html' %}

{% block content %}
<center>
  {% for larp in food_all_larps %}
        {% for run_diets_amounts in larp.food.diets_amounts %}
          <h3> {{ larp.larp }} run {{ run_diets_amounts.0.run }} </h3>

          <table border=1 style="width:100%">
            <th align="center">diet</th>
            <th align="center">amount</th>

            {% for diets_amounts in run_diets_amounts %}
              <tr>
                <td align="center"> {{ diets_amounts.diet_name }}</td>
                <td align="center"> {{ diets_amounts.amount }}</td>
              </tr>
            {% endfor %}
          </table> <br>
        {% endfor %}

    <hr>


    {% for run in larp.food.players_diets %}
        <h3>{{ larp.larp }} run {{ run.0.run }} </h3>
        <table border=1 style="width:100%">
          <th align="center">character</th>
          <th align="center">player</th>
          <th align="center">diet</th>
          <th align="center">comments</th>

              {% for player_diet in run %}
              <tr>
                <td align="center"> {{ player_diet.character }}</td>
                <td align="center"> {{ player_diet.player }}</td>
                <td align="center"> {{ player_diet.diet }}</td>
                <td align="center"> {{ player_diet.comments }}</td>
                </tr>
              {% endfor %}

          </table> <br>
      {% endfor %}

  {% endfor %}

</center>
{% endblock %}
