<h1>{{ player.user.first_name }} {{ player.user.last_name }}</h1>

Allergies: {{ player.allergies }}
<br>
Food allergies: {{ player.food_allergies }}
<br>
Food intolerances: {{ player.food_intolerances }}
<br>
Medical conditions:  {{ player.medical_conditions }}
<br>
Emergency contact: {{ player.emergency_contact }}
<br>
Dietary restrictions: {{ player.dietary_restrictions }}
<hr>
Meassurements
<br>
    shoulder {{ player.shoulder }}
    <br>
    height {{ player.height }}
    <br>
    chest {{ player.chest }}
    <br>
    waist {{ player.waist }}
