{% extends 'larps/base.html' %}

{% block content %}

  <center><h2>Uniforms</h2></center>

  {% for uniform in uniforms %}
    <a href="{% url 'larps:uniform_sizes' uniform.id %}">
      {{ uniform }}
    </a><br>
  {% endfor %}


  {% if group %}
    <hr><center>
    <h3>Sizes for {{ group.name }}</h3>
    {% if sizes %}
      <table border=1 style="width:75%">
        <th align="center">gender</th>
        <th align="center">size</th>
        <th align="center">chest</th>
        <th align="center">waist</th>
        <th align="center">quantity</th>

        {% for size in sizes %}
          <tr>
            <td align="center"> {{ size.info.gender }} </td>
            <td align="center"> {{ size.name }} </td>
            <td align="center"> {{ size.info.chest_min }}-{{ size.info.chest_max }} </td>
            <td align="center"> {{ size.info.waist_min }}-{{ size.info.waist_max }} </td>
            <td align="center"> {{ size.quantity }} </td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
        There are no sizes for this uniform yet.
    {% endif %}
{% endif %}

  {% if players %}
    <hr>

    <h3>Players of this group</h3>

    <table border=1 style="width:100%">
      <th align="center">Character</th>
      <th align="center">Player</th>
      <th align="center">chest</th>
      <th align="center">waist</th>
      <th align="center">recommended sizes</th>

      {% for player in players %}
        <tr>
          <td align="center">
          {% for assigment in player.character_assigments %}
             {{ assigment.character.group.larp.name }} run {{ assigment.run }} -
             {{ assigment.character.name }}<br>
          {% endfor %} </td>
          <td align="center"> {{ player.info }}  </td>
          <td align="center"> {{ player.info.chest }} </td>
          <td align="center"> {{ player.info.waist }}  </td>
          <td align="center">
            {% for size in player.sizes %}
                {{ size.american_size }} / {{ size.european_size }} {{ size.gender }}
            {% endfor %}  </td>
        </tr>
      {% endfor %}
  {% endif %}
  </center>
{% endblock %}
