{% extends 'larps/base.html' %}

{% block content %}

  {% for uniform in uniforms %}
    <a href="{% url 'larps:uniform_sizes' uniform.id %}">
      {{ uniform }}
    </a><br>
  {% endfor %}


  {% if group %}
    <hr>
    <h3>Sizes for {{ group.name }}</h3>
  {% endif %}
  {% for size in sizes %}
      {{ size }}<br>
  {% endfor %}



  {% if players %}
    <hr>
    <h3>Players of this group</h3>
    {% for player in players %}
        {{ player.info }} chest: {{ player.info.chest }} waist: {{ player.info.waist }} - recommended sizes:
          {% for size in player.sizes %}
              {{ size.american_size }}/{{ size.european_size }}
          {% endfor %}<br>
    {% endfor %}
  {% endif %}

{% endblock %}
