{% extends 'larps/base.html' %}

{% block content %}

  {% for uniform in uniforms %}
    <a href="{% url 'larps:uniform_sizes' uniform.id %}">
      {{ uniform }}
    </a><br>
  {% endfor %}

  <hr>
  <h3>Sizes</h3>
  {% for size in sizes %}
      {{ size }}<br>
  {% endfor %}

  <hr>

  {% if players %}
    <h3>Players of this group</h3>
    {% for player in players %}
        {{ player.info }} chest: {{ player.info.chest }} waist: {{ player.info.waist }} - recommended sizes:
          {% for size in player.sizes %}
              {{ size.american_size }} / {{ size.european_size }}
          {% endfor %}
    {% endfor %}
  {% endif %}

{% endblock %}
