
<li class="nav-item active">
  <i class="fas fa-fw fa-tachometer-alt"></i>
  <a class="nav-link" href="{% url 'larps:my_character' larp.id run %}">
    {{ larp.name }} {{ run }} - My character</a>
</li>

<li class="nav-item active">
  <i class="fas fa-fw fa-tachometer-alt"></i>
  <a class="nav-link" href="{% url 'larps:manage_bookings' larp.id run %}">
    {{ larp.name }} {{ run }} - My bookings</a>
</li>
<li class="nav-item active">
  <a class="nav-link" href="{% url 'larps:characters_run' larp.id run %}">
    {{ larp.name }} {{ run }} - Characters list</a>
</li>
