  <li class="nav-item active">
    <a class="nav-link" href="{% url 'larps:file_upload' %}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Import csv file</span>
    </a>
  </li>

  <li class="nav-item active">
    <a class="nav-link" href="{% url 'larps:missing_info_index' %}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Players missing information</span>
    </a>
  </li>

  <li class="nav-item active">
    <a class="nav-link" href="{% url 'larps:player_list' %}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Players List</span>
    </a>
  </li>

  <li class="nav-item active">
    <a class="nav-link" href="{% url 'larps:uniforms' %}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Uniforms</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/admin">
      <i class="fas fa-fw fa-table"></i>
      <span>Admin site</span>
    </a>
  </li>
