{% extends 'larps/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

  <h2>Import CSV files</h2>
  <hr>
  {% if messages %}
      {% for message in messages %}
          <div>
              <strong>{{message|safe}}</strong>
          </div>
      {% endfor %}
      <hr>

  {% else %}
  {{order}}
  <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <br>
      <label for="file1"> Upload a file</label><br>
      <input type="file" id="file1" name="file"><br>
      <small>Only accepts CSV files</small><br>
      <button type="submit">Upload</button>
  </form>
  {% endif %}

  <hr>
  <h3>Characters</h3>
  {% for character in characters %}
    {{character.name}} - group: {{character.group.name}} - race: {{character.race.name}}<br>
  {% endfor %}
  <br>
  <h3>Players</h3>
  {% for player in players %}
    {{player.first_name}} {{player.last_name}}<br>
  {% endfor %}

  <hr>
  <h3>Character assigments</h3>
  {% for assigment in assigments %}
    {{assigment.character.group.larp}} {{assigment.run}} -
    {{assigment.character.name}} assigned to {{assigment.user.first_name}} {{assigment.user.last_name}}
    <br>
  {% endfor %}

{% endblock %}
